# Eclipse
bin/
gen/
out/
.settings/
AndroidManifest.out.xml

# Crashlytics
/res/values/com_crashlytics_export_strings.xml
/assets/crashlytics-build.properties

# IntelliJ IDEA
**/.idea/workspace.xml
**/.idea/tasks.xml
classes
gen-external-apklibs

# Gradle
.gradle
build

# Other
tmp
.DS_Store
Thumbs.db
